Assessment 1

In [1]:
import pandas as pd

In [2]:
# Sample dataset
data = {
    'Transaction_ID': [1, 2, 3, 4, 5],
    'Product': ['A', 'B', 'A', 'C', 'B'],
    'Quantity': [10, 5, 2, 8, 7],
    'Price_per_Unit': [100, 200, 100, 300, 200]
}

In [3]:
# Create a pandas DataFrame
df = pd.DataFrame(data)

In [4]:
# Function to calculate the average revenue per transaction
def calculate_average_revenue(df):
    df['Revenue'] = df['Quantity'] * df['Price_per_Unit']
    average_revenue = df['Revenue'].mean()
    return average_revenue

In [5]:
# Calculate and print average revenue per transaction
average_revenue = calculate_average_revenue(df)
print(average_revenue)

1200.0

Assessment 2

In [6]:
import pandas as pd

In [7]:
# Sample dataset
data = {
    'Transaction_ID': [1, 2, 3],
    'Date': ['2023-08-01', '2023-08-02', '2023-08-03'],
    'Product': ['Product A', 'Product B', 'Product C'],
    'Quantity': [5, 10, 2],
    'Price_per_Unit': [100, 50, 200]
}

In [8]:
# Create a pandas DataFrame
df = pd.DataFrame(data)

In [9]:
# Define the function to calculate total revenue
def calculate_total_revenue(df):
    df['Total_Price'] = df['Quantity'] * df['Price_per_Unit']
    total_revenue = df['Total_Price'].sum()
    return total_revenue

In [10]:
# Calculate the total revenue
total_revenue = calculate_total_revenue(df)
print(f"The total revenue is: {total_revenue}")

The total revenue is: 1400